snippet js "JS Code Block"
\`\`\`javascript
${0}
\`\`\`
endsnippet

snippet rb "Ruby Code Block"
\`\`\`ruby
${0}
\`\`\`
endsnippet

snippet c "Put in code ticks"
\`${0}\`
endsnippet


snippet l "Link"
[${1}](${2})${0}
endsnippet
